<% if logged_in? %>
    <div class="home">
    <main></main>
    <main>
        <div class="card">
            <div class="username_container">
                    <img src='https://www.w3schools.com/howto/img_avatar.png'/>
                    <span class="username_post"><b>mikey01</b></span> 
            </div>
            <img class="feed_image" src="https://images.unsplash.com/photo-1532029118404-c94b27247e34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
            <div class="post_icons">
                <a href="#"><i class='fas fa-long-arrow-alt-up'></i></a>
                <a href="#"><i class='fas fa-long-arrow-alt-down'></i></a> 
                <a href="#"><i class='far fa-comment'></i></a>
                <a href="#" class="float: right;"><i class='far fa-bookmark'></i></a>
            </div>
            <div class="description">
                <p><b style="font-family: Arial;">mikey01</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, id sapiente. Neque omnis perspiciatis atque aut, commodi nihil in nesciunt aperiam, quaerat, asperiores amet illo quasi id quia porro libero.</p>
            </div>
            <form action="/add_comment" method="post">
                <div class="post_comment">
                    <input style="width:99%;" name="comment" type="text" placeholder="Add a comment.."> 
                    <button>Post</button>
                </div>
            </form>
        </div>
    </main>
</div>
<br><br><br>
<%end%>

