<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flexnet</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.png" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<main>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</main>

  <% if logged_in? %>
    <span>Hello <%= find_one_user_by_email(session[:user_email])["name"] %></span>
    <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
    </form>
  <% end %>


  <%= yield %>
  <script src="javascripts/application.js"></script>
</body>
</html>
