<div class="log_section">
    <img id="logo" src="logo.png">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="log_inputs">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="log_submit">
            <button>Login</button>
        </div>
    </form>
    <form action="/login" method="post">
        <div class="log_inputs">
            <input type="hidden" name="email" value="mike@gmail.com">
            <input type="hidden" name="password" value="hello">
            <div class="log_submit">
                <button id="guest_button">Login as guest</button>
            </div>
        </div>
    </form>
    <p>Don't have an account? Sign up <a href="/signup">here</a></p>
</div>