<div class="new_post_section"><form></form>
    <form action="/new_post" method="post">
        <h1>Create a new post</h1>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="user_id" value="<%= find_one_user_by_email(session[:user_email])["id"] %>">
        <label for="">Image URL</label>
        <input type="text" name="image_url"><br><br>
        <label for="">Description</label>
        <input type="text" name="description"><br><br>
        <button>Post</button>
    </form>
</div>
