<div>
    <div class="profile_section">
        <section>
            <div class="profile_image"></div>
        </section>  
        <section class="profile_info">
            <h2>Username</h2>
            <span class="profile_stat">1 photos</span>
            <span class="profile_stat">52 followers</span>
            <span class="profile_stat">12 following</span>
            <button>Edit</button>
            <h3>Mike Tyson</h3>
            <p>
            Business inquiries • info.miketyson@gmail.com <br>
            {52 years old ❥Fitness} <br>
            Jeremiah 29:11 †    <br>
            Dreams don't work unless you do ➳
            </p>
            <p><b><a href="github.com/minhvuong1">github.com/minhvuong1</a></b></p>
        </section>  
    </div>
    <div class="profile_photos">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
</div>

