<div class="log_section">
    <img id="logo" src="logo.png">
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <div class="log_inputs">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="name" placeholder="Full Name">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="log_submit">
            <button>Sign Up</button>
            <p>By signing up, you agree to our Terms, Data Policy and Cookies Policy.</p>
        </div>
    </form>
</div>