<div class="log_section">
    <img id="logo" src="logo.png">
    <h1>Sign Up</h1>
    <form action="#">
        <div class="log_inputs">
            <input type="email" name="" placeholder="Email">
            <input type="text" name="" placeholder="Full Name">
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
        </div>
        <div class="log_submit">
            <button>Sign Up</button>
            <p>By signing up, you agree to our Terms, Data Policy and Cookies Policy.</p>
        </div>
    </form>
</div>