body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f3f1f1;
}

.log_section img {
    width: 220px;
    margin: 0 auto;
}

main nav {
    background-color: #01BBD3;
    display: grid;
    height: 65px;
    width: 100%;
}

main ul {
    width: 30%;
    margin: 0 auto;
    background-color: #01BBD3;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

main li {
    padding: 20px 30px;
    cursor: pointer;
}

main li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

main li:hover {
    opacity: 0.7;
    background-color: rgb(81, 194, 209);
    transition: 0.3s;
}

.log_section input {
    width: 500px;
    padding: 12px 20px 8px 10px;
    margin: 10px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(194, 194, 194);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: rgb(243, 241, 241);
    font-size: 17.5px;
}
  
.log_section {
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.log_section h1 {
    font-size: 75px;
    margin-top: -50px;
    z-index: 3;
}

.log_section button {
    margin-top: 20px;
}

.log_inputs {
    display: grid;
    margin-top: -15px;
    justify-content: center;
}

.log_submit {
    font-size: 19px;
}

.log_submit a {
    text-decoration: none;
}

.log_submit a:hover {
    opacity: 0.8;
}

.log_submit button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #01BBD3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin: 15px 0 30px 0;
    transition: 0.3s;
}

button:hover {    
    background-color: rgb(81, 194, 209);
}
  
.profile_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 70px;
}

.profile_image {
    background-color: red;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

.profile_info {
    margin: 0 auto;
}

.profile_section h3,h2,p {
    margin: 0;
}

.profile_photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}

.square {
    height: 250px;
    background-color: red;
}

