html, body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000002;
    background-color: #FAFAFA;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.log_section img {
    width: 220px;
    margin: 0 auto;
}

main nav {
    background-color: #01BBD3;
    display: grid;
    height: 65px;
    width: 100%;
}

main ul {
    width: 30%;
    margin: 0 auto;
    background-color: #01BBD3;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

main li:last-child {
    float: left;
}

main li {
    padding: 0px 30px;
    cursor: pointer;
}

main li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

main li:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.log_section input {
    width: 500px;
    padding: 12px 20px 8px 10px;
    margin: 10px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(194, 194, 194);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #FAFAFA;
    font-size: 17.5px;
}
  
.log_section {
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.log_section h1 {
    font-size: 75px;
    margin-top: -50px;
    z-index: 3;
}

.log_inputs {
    display: grid;
    justify-content: center;
}

.log_submit {
    font-size: 19px;
}

.log_submit a {
    text-decoration: none;
}

.log_submit a:hover {
    opacity: 0.8;
}

#guest_button {
    margin: 0;
    margin-bottom: 25px;
}

.log_submit button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #01BBD3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin: 15px 0 30px 0;
    transition: 0.3s;
}

button:hover {    
    background-color: rgb(81, 194, 209);
}

#guess_button {
    margin: 0;
}
  
.profile_section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 20px;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    margin-top: 40px;
    padding-bottom: 50px;
}

.profile_info {
    height: 100%;
    margin-top: 15px;
}

.profile_image {
    text-align: center;
}

.profile_image img{
    width: 70%;
    border-radius: 50%;;
    margin-top: 30px;
    vertical-align: middle;
}

.profile_section h2 {
    display: inline;
    font-size: 28px;
    padding-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.profile_section button {
    width: 40%;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    background-color: #01bbd3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    padding: 3px 0;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
}

.profile_section button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.profile_section button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.profile_section button:hover span {
    padding-right: 25px;
}

.profile_section button:hover span:after {
    opacity: 1;
    right: 0;
}

.profile_section p {
    margin: 0;
}

.profile_section h3 {
    margin-top: 22  px;
    margin-bottom: 0;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
}

.profile_stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
}

.profile_stat b {
    font-size: 20px;
    margin-right: 4px;
    cursor: pointer;
}

.profile_section main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.profile_photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.photo_cell {
    height: 250px;
    background-color: darkgray;
}

/* .photo_cell:hover {
    opacity: 1;
    transition: .3s ease;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
}*/

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 40px;
}

.home main {
    display: grid;
    justify-content: center;
}

.home h4 {
    margin: 5px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid darkgray;
    border-radius: 2px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.username_container {
    padding: 12px 14px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 15fr 1fr;
    border-radius: 2px;
    border-bottom: 1px solid darkgray;
}

.card img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 1px;
    margin-bottom: 3px;
}

.username_container img {  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
    cursor: pointer;
}

.username_post {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.username_post b{
    cursor: pointer;
}
.description p {
    margin: 8px 5px 0 5px;
    padding: 0 14px 0 10px;
    text-align: justify;
}

.post_icons {
    margin-top: 5px;
}

.post_icons a{
    font-size: 25px;
    color: black;
    margin-left: 14px;
}

.post_icons a:last-child {
    float: right;
    margin-right: 19px;
}

.up_arrow {
    transform: scaleY(1.1); 
    color: red;
}

.post_comment input {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    margin-top: 10px;
    font-size: 14px;
}

.post_comment {
    display: grid;
    grid-template-columns: 14fr 1fr;
    border-top: 1px solid lightgray;
    margin-top: 15px;
}

.post_comment button {
    border: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: bolder;
    color: #01BBD3;
    margin-right: 20px;
}

.post_comment button:hover {
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
}

.w3-container hr{
    border: 1px solid lightgray;
}

#edit_post_button button{
    border: 0;
}

#edit_post_button button:hover{
    border: 0;
    background-color: white;
    cursor: pointer;
}