body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #333;
    display: grid;
}

ul {
    width: 30%;
    margin: 0 auto;
    background-color: #333;;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

li a:hover {
    opacity: 0.9;
    background-color: mediumseagreen;
}
